ul.network-icon{
    width: 260px;
}

div.container{
  width: 85%;
}

div.col-sm-5{
  width: 39%;
}

div.col-sm-7{
  width: 61%;
}

div.article-container{

  max-width: 900px;
}

html {
font-size: 100%;
}

/* a {
  text-decoration:none;
  transition-duration:0.5s;
} */

/* a:focus{
  text-decoration:none;
  transition-duration:0.5s;
  transition-property:color;
}

a:hover {
  color:#6666BB !important;
  text-decoration:none;
  transition-duration:0.5s;
  transition-property:color;
} */
